/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'Vollkorn', serif;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: normal;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  width: 100%;
}

.common-container {
  display: flex;
  /* border: solid thin black; */
  width: 100%;
}

.box1 {
  /* border: solid thin black; */
  width: 60%;
  padding: 2rem 1.5rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.button {
  /* border-radius: 4px; */
  background-color: #4a4a4a;
  color: white;
  padding: .5rem 7.25rem;
  }

.box2 .infobox2 h2 {
    margin-bottom: 0;
  }

.box2 .infobox2 h3 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}



/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
  height: 4rem;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;]
}

header .logotext {
  font-size: 2rem;
}

header .logotext.secondword {
  color: gray;
}

header .desktop {
  display: inline;
  padding-right: .5rem;
}

header .desktop span {
  padding-right: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  header .logo {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

/* startsection */

#startsection {
  background-color: lightgray;
}

#startsection .box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: solid thin black; */
  width: 40%;
  /* padding-left: 1rem; */
}

#startsection .box2 h1 {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {

.common-container {
  display: flex;
  flex-direction: column;
  /* border: solid thin black; */
  width: 100%;
}

.box1 {
  /* border: solid thin black; */
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* .image-container img {
  display: block;
  max-width: 100%;
  height: auto;
} */

#startsection .box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: solid thin black; */
  width: 100%;
  /* padding-left: 1rem; */
}

.button {
  max-width: 100%;
  padding-right: 6rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;

}

}

/* infosection */

#infosection .box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  /*  border: solid thin black; */
    width: 40%;
  /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
  }

.infobox {
  display: flex;
  width: 100%;
  /* border: solid thin black; */
}

.infobox1 {
    display: flex;
    /* border: solid thin black; */
    width: 35%;
    padding: 1rem;
  }

.infobox2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  /*  border: solid thin black; */
    width: 65%;
    padding-left: 1rem;
  }

#lastbox {
  margin-bottom: 2rem;
}

.infobox2 a {
  color: blue;
}

.infobox:hover {
  background-color: lightgray;
}

@media only screen and (max-width: 480px) {

#infosection .box1 {
  display: none;
}

#infosection .box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: solid thin black; */
  width: 100%;
}

.infobox {
  display: flex;
  flex-direction: column;

  /* border: solid thin black; */
}

.infobox .image-container {
max-width: 100%;
}

.infobox1 {
    display: flex;
    /* border: solid thin black; */
    width: 100%;
    padding: 0;
  }

.infobox2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: solid thin black; */
    width: 100%;
    padding-left: 0rem;
  }


}

/* coursesection */

.coursesection {
  /* border: solid thin black; */
  background-color: lightgray;
}

.coursesection h1 {
  text-align: center;
}

.courseline {
  display: flex;
  /* border: solid thin black; */
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.course {
    /* border: solid thin black; */
    background-color: white;
    margin: 1rem;
}

.coursetext {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.course:hover {
  background-color: lightgray;
}

.coursesection.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

.coursesection.desktop {
  display: none;
}

.coursesection.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.coursesection {
  background-color: white;
}

.coursesection.mobile h2 {
  width: 95%;
  background-color: lightgray;
  text-align: left;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-top: 1rem;

  height: 3.5rem;


}

.newsbites {
  display: flex;
  flex-direction: column;
}

}

/* videosection */

.videosection .box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: solid thin black; */
    width: 40%;
  /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
  }

.videosection h1 {
  text-align: center;
}

.video-container {
  overflow: hidden;
}

.video-container video {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {

.videosection .box1.text {
  display: none;
}

.videosection .box2 {
  display: none;
}

}

/* Footer */

footer {
  height: 4rem;
  border-top: solid thin lightgray;
}

footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footertext {
  padding-left: 1.5rem;
  padding-top: 1rem;
}

footer .desktop {
  padding-top: 1rem;
}

footer .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  footer .footertext {
    display: none;
  }


  footer .desktop {
    display: none;
  }

  footer .mobile {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }



}
