/* Universal Styles */

html {
  font-size: 16px;

}

.firstcontainer {
  margin-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

p {
  border: solid thin black;
}

/* .main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header.
  width: 100%;
} */

/* Header */


/* Footer */
