/* Universal Styles */

html {
  font-size: 16px;

}

.firstcontainer {
  margin-top: 50px;

}

/* .main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header.
  width: 100%;
} */

/* Header */


/* Footer */
